@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

/* Фон сложенного меню */
#sidebar {
    width: 70px;
    min-width: 80px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e2238;
}

#navbar .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    background: #0e2238 !important;
    border: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}



/* Расстояние, на которое раскрывается меню, при нажатии кнопки */
#sidebar.expand {
    width: 250px;
    min-width: 290px;
}

/* Разукрашиваем фон иконки Титута под цыет фона и так же расположение иконки*/
.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

/* настраиваем расположение Титула */
.sidebar-logo {
    margin: auto 0;
}

/* Настройка титульного значения, рядом с эмблемой. Шрифт и цвет */
.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

/* Настрока, что в свернутом положении, видны только иконки. тексты разворачиваются при открытиии */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* Расположение иконок */
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* Расположение мини иконок, централизирование из.  Настройка длины их чередования. Цвет иконок*/
a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

/* Подсвечивание выбора, при наведении курсора. Настройка цвета и расположении доп граней*/
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

/* когда меню сложено */
/* Отображение всплывающего окна, при наведении курсора рядом с ячейкой. Если убрать настройку, то всплывающие окна будут вверху экрана */
.sidebar-item {
    position: relative;
}

/* когда меню сложено */
/* Отображение всплывающих окон сбоку, при наведении курсора. Настройка ширины поля */
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

/* когда меню сложено */
/* Видимость вложенных пунктов меню, при наведении курсора */
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

/* Показывание стрелки, что можно открыть вложенный список там, где настроены соответственно этим списки */
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

/* Стрелка меняет свое направление в зависимости от того, ракрыт ли список или нет */
#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

#login button:focus{
    box-shadow: none;
}


/* Настройка фона оглавления форм Логина и Регистрации */
.accordion-button:not(.collapsed){
    background-color: #0e2238;
    color: #ffffff
    ;
}

.form-lable{
    color: #5e5d5d;
}


/* Обводка полей ввода данных */
.form-control{
    background-color: #ffffff;
    padding: 0 30px;
    border-color: #949494;
    line-height: 45px;
    border-radius: 0;
}

/* Цвета заполнения поле ввода */
.form-control:focus{
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
    background-color: #d8e4ff;
    color: #0e2238;
    border-color: #949494;
}

.form-check.form-check-input{
    border-color: rgb(201, 48, 147);
}
 /* Настройки кнопок */
.btn{
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    color: #FFF;
    font-weight: 600;
    border-radius: 0;
    background-color: #3b7ddd;
}

.offcanvas-end {
    width: 500px;
    background: #0e2238 !important;
    border-left: 2px solid #1a374d;
}

.btn-close-white {
    filter: invert(1);
}


.table {
    --bs-table-bg: #0e2238;
    --bs-table-striped-bg: #1a374d;
    border-color: #2a4b6a;
}

.table-hover tbody tr:hover {
    --bs-table-accent-bg: #2a4b6a;
    color: white;
}

.badge {
    font-size: 0.9em;
    padding: 0.5em 0.75em;
}

.table-danger {
    --bs-table-bg: #4a1a2c;
    --bs-table-striped-bg: #5a2a3c;
}