{% extends "base.html" %}

{% block content %}
<section id="login">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 col-lg-5">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Вход
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                  {% endwith %}
                  <form action="{{ url_for('user.process_login') }}" method="post" class="row g-3">
                    {{ login_form.hidden_tag() }}
                    <div class="col-md-12">
                      <label for="email_name_chek1" class="form-label">{{ login_form.username.label }}
                        <!-- <span class="text-danger">*</span> -->
                      </label>
                      {{ login_form.username(
                        placeholder="Введите логин"
                      ) }}
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword_chek1" class="form-label">{{ login_form.password.label }}
                        <!-- <span class="text-danger">*</span> -->
                      </label>
                        {{ login_form.password(
                          placeholder="Введите пароль"
                        ) }}
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="form-check">
                        {{ login_form.save_login() }}
                        {{ login_form.save_login.label(class="form-check-label") }}
                      </div>
                      <a href="{{ url_for('user.chekmail') }}" type="button">
                        <u>{{ login_form.forgot_pas.label() }}</u>
                      </a>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit">
                        {{ login_form.submit_in.label }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ reg_form.submit_reg.label}}
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% with messages = get_flashed_messages(category_filter=["registration"]) %}
                    {% if messages %}
                      <div class="alert alert-danger">
                        {% for message in messages %}
                          {{ message }}<br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                  <form action="{{ url_for('user.process_registration') }}" method="post" class="row g-3">
                    {{ reg_form.hidden_tag() }}
                    <div class="col-md-12">
                      <label for="email_input1" class="form-label">{{ reg_form.email.label }}
                        <span class="text-danger">*</span>
                      </label>
                      {{ reg_form.email(
                        placeholder="Введите почту"
                      ) }}
                      <!-- <input type="email" class="form-control" id="email_input1" placeholder="name@ya.ru"> -->
                    </div>
                    <div class="col-md-12">
                      <label for="name_input1" class="form-label">{{ reg_form.username1.label }}
                        <span class="text-danger">*</span>
                      </label>
                      {{ reg_form.username1(
                        placeholder="Введите логин"
                      ) }}
                      <!-- <input type="email" class="form-control" id="name_input1" placeholder="name"> -->
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword1" class="form-label">{{ reg_form.password_fir.label }}
                        <span class="text-danger">*</span>
                      </label>
                      {{ reg_form.password_fir(
                        placeholder="Пароль"
                      ) }}
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword2" class="form-label">{{ reg_form.password_sec.label }}
                        <span class="text-danger">*</span>
                      </label>
                      {{ reg_form.password_sec(
                        placeholder="Пароли должны совпадать"
                      ) }}
                    </div>
                    <div class="d-flex justify-content-between">
                    </div>
                    <div class="col-md-12">
                      <button class="btn border-0" type="submit">
                        {{ reg_form.submit_reg.label }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}